h3 {
  font-style: italic;
  text-align: center;
  color: red;
  font-size: 50px;
  text-shadow: 10px 10px 50px white;
}

h2{
  color: ;
  font-size: 40px;
  text-shadow: 10px 10px 50px blue;
}

ul{
  color: green;
}
p {
  color: black;
  margin: 55px;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 10px 10px 50px blue;
}

body {
  background-image: url(https://freerangestock.com/sample/39488/tropical-leaves-background-with-copyspace.jpg);
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  font-family: sans-serif;
  text-align: center;
}

img {
  box-shadow: 10px 10px 60px black;
}
a {
  color: hotpink;
}
